<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sucaisheng.mapper.IUserMapper">
    <resultMap id="account" type="Account">
        <id property="id" column="id"></id>
        <result property="uid" column="uid"></result>
        <result property="money" column="money"></result>
        <association property="user" column="uid" javaType="user" select="com.sucaisheng.mapper.IUserMapper.selectUserById"></association>
    </resultMap>
    
    <resultMap id="UserAndAccount" type="User">
        <id property="id" column="id"></id>
        <result property="address" column="address"></result>
        <result property="username" column="username"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <collection property="accountList" ofType="Account" column="id" select="com.sucaisheng.mapper.IUserMapper.selectAccountByid"></collection>
    </resultMap>

    <select id="selectAllUser" resultMap="UserAndAccount">
        select * from user
    </select>

    <select id="selectUserById" resultType="user" parameterType="int">
        select * from user where id = #{id}
    </select>

    <select id="selectAllAccount" resultMap="account">
        select * from account
    </select>

    <select id="selectAccountByid" parameterType="int" resultType="Account">
        select * from account where uid = #{id}
    </select>

</mapper>